<?xml version="1.0"?>
<config>
    <modules>
        <Eloom_BlingV3>
            <version>##eloom.versao##</version>
        </Eloom_BlingV3>
    </modules>

    <adminhtml>
        <rewrite>
            <sales_order_grid>Eloom_BlingV3_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
        </rewrite>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <eloom_blingv3_core_block_abstract_prepare_layout_before>
                        <class>eloom_blingv3/observer</class>
                        <method>addNfeMassAction</method>
                    </eloom_blingv3_core_block_abstract_prepare_layout_before>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
        <layout>
            <updates>
                <eloom_blingv3>
                    <file>eloom/bling_v3.xml</file>
                </eloom_blingv3>
            </updates>
        </layout>
        <translate>
            <modules>
                <eloom_blingv3>
                    <files>
                        <default>Eloom_BlingV3.csv</default>
                    </files>
                </eloom_blingv3>
            </modules>
        </translate>
    </adminhtml>

    <admin>
        <routers>
            <eloom_blingv3>
                <use>admin</use>
                <args>
                    <module>Eloom_BlingV3</module>
                    <frontName>eloom_blingv3</frontName>
                </args>
            </eloom_blingv3>
        </routers>
    </admin>

    <frontend>
        <routers>
            <eloom_blingv3>
                <use>standard</use>
                <args>
                    <module>Eloom_BlingV3</module>
                    <frontName>blingv3</frontName>
                </args>
            </eloom_blingv3>
        </routers>

        <translate>
            <modules>
                <eloom_blingv3>
                    <files>
                        <default>Eloom_BlingV3.csv</default>
                    </files>
                </eloom_blingv3>
            </modules>
        </translate>
    </frontend>

    <global>
        <models>
            <eloom_blingv3>
                <class>Eloom_BlingV3_Model</class>
                <resourceModel>eloom_blingv3_resource</resourceModel>
            </eloom_blingv3>
            <eloom_blingv3_resource>
                <class>Eloom_BlingV3_Model_Resource</class>
                <entities>
                    <nfe>
                        <table>eloom_blingv3_nfe</table>
                    </nfe>
                </entities>
            </eloom_blingv3_resource>
        </models>
        <resources>
            <eloom_blingv3_setup>
                <setup>
                    <module>Eloom_BlingV3</module>
                    <class>Eloom_BlingV3_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </eloom_blingv3_setup>
            <eloom_blingv3_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </eloom_blingv3_write>
            <eloom_blingv3_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </eloom_blingv3_read>
        </resources>
        <helpers>
            <eloom_blingv3>
                <class>Eloom_BlingV3_Helper</class>
            </eloom_blingv3>
        </helpers>
        <blocks>
            <eloom_blingv3>
                <class>Eloom_BlingV3_Block</class>
            </eloom_blingv3>
        </blocks>
    </global>

    <crontab>
        <jobs>
            <eloom_blingv3_nfe_access_key>
                <schedule>
                    <cron_expr>##cron_expr_sondaNfe##</cron_expr>
                </schedule>
                <run>
                    <model>eloom_blingv3/cron::proccessNfe</model>
                </run>
            </eloom_blingv3_nfe_access_key>
            <eloom_blingv3_trackings>
                <schedule>
                    <cron_expr>##cron_expr_sondaTrackings##</cron_expr>
                </schedule>
                <run>
                    <model>eloom_blingv3/cron::proccessTrackings</model>
                </run>
            </eloom_blingv3_trackings>
        </jobs>
    </crontab>

    <default>
        <eloom_blingv3>
            <general>
                <active>1</active>
                <product_id>sku</product_id>
            </general>
            <nfe_out>
                <allows_status>processing</allows_status>
                <serie>001</serie>
                <generate>1</generate>
                <send>1</send>
                <comment>chave de acesso: %s</comment>
            </nfe_out>
            <tracking>
                <timer>6</timer>
            </tracking>
        </eloom_blingv3>
    </default>
</config>